@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.loginWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
}

.navbar {
  padding: 5px;
  justify-content: space-between !important;
}

.productCardWrap {
  display: flex;

  .productCard {
    display: flex;
  }

  .card {
    width: 410px;
    align-items: center;
    overflow-wrap: anywhere;
  }

}
